---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE } from "../../consts";

const artists = (await getCollection("artists")).sort((a, b) =>
  a.data.order <= b.data.order ? -1 : 1
);
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead title={SITE_TITLE} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li a {
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 100%;
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }

      /* Фото */

      .photo img {
        max-height: 510px;
        box-shadow: var(--box-shadow);
      }

      /* Заголовок */
      
      .title {
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            artists.map((artist) => (
              <li>
                <a href={`/artists/${artist.id}/`}>
                  <div class="photo">
                    <Image src={artist.data.photo} alt={artist.data.title} />
                  </div>
                  <h4 class="title">{artist.data.title}</h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
