---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "../BaseLayout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

type Props = (
  | CollectionEntry<"artists">["data"]
  | CollectionEntry<"artistsEn">["data"]
  | CollectionEntry<"artistsCn">["data"]
) & { id: string };

const { id, title, photo } = Astro.props;

const artCollectionName =
  Astro.currentLocale === "en"
    ? "artsEn"
    : Astro.currentLocale === "cn"
      ? "artsCn"
      : "arts";

const artCollection = await getCollection(artCollectionName);
const arts = artCollection
  .filter((x) => x.data.artistId === id)
  .sort((a, b) => (a.data.order < b.data.order ? -1 : 1));
---

<BaseLayout title={title}>
  <article>
    <div class="photo">
      <Image src={photo} alt={title} />
    </div>
    <div class="prose">
      <div class="title">
        <h3>{title}</h3>
        <div class="tag-container">
          {
            arts.map((art) => (
              <a
                class="tag"
                href={getRelativeLocaleUrl(
                  Astro.currentLocale ?? "ru",
                  `/arts/${art.id}`
                )}
              >
                {art.data.title}
              </a>
            ))
          }
        </div>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }

  /* Фото */

  .photo img {
    max-height: 510px;
    box-shadow: var(--box-shadow);
  }
</style>
