---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "../BaseLayout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const artistCollectionName =
  Astro.currentLocale === "en"
    ? "artistsEn"
    : Astro.currentLocale === "cn"
      ? "artistsCn"
      : "artists";

const artists = await getCollection(artistCollectionName);

const artCollectionName =
  Astro.currentLocale === "en"
    ? "artsEn"
    : Astro.currentLocale === "cn"
      ? "artsCn"
      : "arts";

const arts = (await getCollection(artCollectionName))
  .map((art) => ({
    ...art,
    data: {
      ...art.data,
      artist: artists.find((x) => x.id === art.data.artistId),
    },
  }))
  .sort((a, b) => (a.data.order <= b.data.order ? -1 : 1));
---

<BaseLayout>
  <section>
    <ul>
      {
        arts.map((art) => (
          <li>
            <a
              href={getRelativeLocaleUrl(
                Astro.currentLocale ?? "ru",
                `/arts/${art.id}/`
              )}
            >
              <div class="photo">
                <Image src={art.data.photo} alt={art.data.title} />
              </div>
              <h4 class="title">{art.data.title}</h4>
              <p class="subtitle">{art.data.artist?.data.title}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  main {
    width: 960px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: calc(50% - 1rem);
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li a {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
  }
  ul li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
  }

  /* Заголовок */

  .title {
    margin-top: 2rem;
  }

  /* Подзаголовок */

  .subtitle {
    margin: 0 0 4rem;
    color: rgb(var(--gray));
  }
</style>
